/*重置样式*/
.mui-bar-nav{background-color:#39b44a;}
.mui-title{color:#fff;}
.mui-action-back{color:#fff;}
/*公用样式*/
.ui-more{position:relative;}
.ui-more::before{position:absolute;right:0.5rem;top:50%;margin-top:-0.25rem; content:'';border-color:#c3c3c3;border-style:solid;border-width:0 2px 2px 0;
-webkit-transform: rotate(-45deg);transform:rotate(-45deg);width:0.5rem;height:0.5rem;}
.ui-h1{line-height:2.3rem;height:2.3rem;padding-left:0.5rem;font-size:0.8rem;}
/*弹出层*/
.mui-picker-panel{
				position: fixed;
				left: 0px;
				width: 100%;
				z-index: 999999;
				background-color: #eee;
				border-top: solid 1px #ccc;
				box-shadow: 0px -5px 7px 0px rgba(0, 0, 0, 0.1);
				-webkit-transition: .3s;
				bottom: 0px;
				-webkit-transform: translateY(280px);
			}
			
			.mui-picker-panel .mui-panel-header {
				padding: 6px;
				font-size: 14px;
				color: #888;
			}
			.mui-picker-panel .mui-panel-body {
				position: relative;
				width: 100%;
				height: 200px;
				border-top: solid 1px #ddd;
			}
			.user-panel .mui-listpicker {
				width: 100%;
				height: 100%;
				margin: 0px;
				border: none;
			}
			.mui-panel-header button {
				font-size: 12px;
				padding: 5px 10px;
			}
			.mui-panel-header button:last-child {
				float: right;
			}
			/**级联示例样式**/
			.date-panel {
			}
			.date-panel .mui-listpicker {
				width: 33%;
				height: 100%;
				margin: 0px;
				float: left;
				border: none;
			}
/*公用 模拟 icon input*/
.icon-input{border:1px solid #ccc;padding:0.5rem 0;position:relative;background:#fff;display:block;}
.icon-input input{border:0px;margin:0;padding:0;width:auto;height:auto;}
.icon-input .icon{position:absolute;width:1.5rem;height:1.5rem;left:0.25rem;top:50%;margin-top:-0.75rem;}
.icon-input .icon img{width:1.5rem;height:1.5rem;vertical-align:middle;}
.icon-input .content{margin-left:2.0rem; display:box;box-orient:horizontal;box-pack:center;box-align:centerdisplay:-webkit-box;-webkit-box-orient: horizontal;-webkit-box-pack: center;
  -webkit-box-align: center;font-size:0.8rem;}
  .icon-input .content p{font-size:0.8rem;}
 /*常用地址*/
.start-address-block .consignee{color:#2cc05c;}
.start-address-block .mobile{color:#2cc05c;}
/*下单页*/
.order-block{padding:0.25rem;font-size:0.8rem;}
.order-block .line{height:1px;background:#ccc;width:98%;margin:0 auto;}
.order-block #sure_order{position:absolute;bottom:0;width:96%;left:50%;margin-left:-48%;}
.address-a{margin:0.25rem 0; border:1px solid #ccc;background:#fff;}
.address-a .icon-input{border:0;}
.order-block .description{border:1px solid #ccc;margin-top:0.25rem;}
.address-text{text-align:left;}
.info-block{border:1px solid #ccc;background:#fff;padding:0 0.25rem;}
.info-block li{line-height:2.0rem;height:2.0rem;border-bottom:1px solid #ccc;position:relative;}
.info-block li:last-child{border-bottom:0px;}
.info-block  .showbtn{position:absolute;top:50%;right:0.25rem;margin-top:-17px;}
.info-block .left-block{margin-left:0.5rem;}
/*订单列表页*/
.order-list {margin:0 0.25rem;}
.order-list li{border-radius:0.25rem;margin:0.25rem 0;background:#fff;padding:0 0.25rem;}
.order-list .no{line-height:1.5rem;height:1.5rem;border-bottom:1px solid #efeff4;}
.order-list .icon-input{border:0;}
.order-list .other-infro{line-height:1.5rem;height:1.5rem;border-top:1px solid #efeff4; }
.tab-list{position:fixed;bottom:auto; display: table; width: 100%; overflow: hidden; font-size: 16px; font-weight: 400; table-layout: fixed; background-color: #fff; -webkit-touch-callout: none;z-index:1000;border-bottom:1px solid #ccc;}
.tab-list li{display:table-cell; width: 1%; overflow: hidden; color:#000; padding:4px 0 2px 0; text-align: center; 
text-overflow: ellipsis; white-space: nowrap; border-bottom:4px solid transparent; -webkit-transition: background-color .1s linear; transition: background-color .1s linear;}
.tab-list a{display:inline-block; width: 100%; overflow: hidden; line-height:28px; color:#000; border-left:1px solid #ccc; text-align: center; }
.tab-list li:last-child{border:0;}
.tab-list li.select{border-bottom:4px solid #008000;}
.order-detail{background:#fff;}
.order-detail .icon-input{border:0;}
.order-detail .price{font-size:1.6rem}
.order-detail .price-infro{padding:0.5rem 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.order-detail .no-block{line-height:1.5rem;height:1.5rem;border-bottom:1px solid #ccc;}
.order-detail .btn-block{margin-top:1.0rem;}
/*地址页*/
.adress-block{margin:0.25rem;}
.adress-block .address-border{border:1px solid #ccc;padding:0.25rem;background:#fff;}
.adress-block .order-btn{margin-top:1.0rem;}
.adress-block .icon-input{border-top:0;border-left:0;border-right:0;border-bottom:1px solid #ccc;}
.adress-block .icon-input:last-child{border-top:0;border-left:0;border-right:0;border-bottom:0;}
.search-address{margin:0.25rem;}
.search-address .icon-input{border-radius:5px;border:0;}
.search-result-top{top:2.25rem;margin:0.25rem;}
.search-result-top li{padding:0.25rem;border-bottom:1px solid #ccc;}
.search-result-top li p{margin:0.25rem 0;}
.address-list .icon-input{border:0;}
.address-list li{border-bottom:1px solid #ccc;}
.address-list .address-name{color:#777777;}
/*横排图片列表*/
.b-list{}
.b-list ul{font-size:0.7rem;}
.b-list ul li{position:relative;border-bottom:1px solid #d8d8d8;overflow:hidden;padding:0.25rem 0;}
.b-list ul li:last-child{border-bottom:none;}
.b-list ul li .le-img{width:5.0rem;display:block;overflow:hidden;background-position:center center; background-size:cover; z-index:333;float:left;}
.b-list ul li .le-img a{width:100%;height:5.0rem;text-align:center;display:box;display:-webkit-box;display:-moz-box;-webkit-box-pack:center;-moz-box-pack:center;-webkit-box-align:center;-moz-box-align:center;box-align:center;box-pack:center;}
.b-list ul li .le-img img{margin:0 auto;width:4.0rem;height:4.0rem;display:block;}
.b-list ul li .goods-info{padding-left:5.0rem;position:relative; height:100%;}
.goods-info .price-block{line-height:1.2rem;height:1.2rem; display: -moz-box; display: -webkit-box; display: box; }
.goods-info .price-block .car-name{font-size:0.8rem;}
.goods-info .price-block .base-price{text-align:right;}
.goods-info .title{display:block;overflow:hidden;text-overflow: ellipsis; white-space: nowrap;padding-top:2.5rem;}
.goods-info .title a{color:#666;text-overflow: ellipsis; white-space: nowrap;}
.goods-info .des{font-size:12px; line-height:18px; margin-right:5px; max-height:36px; overflow:hidden;-webkit-line-clamp:2;display:none;word-break:break-all;-webkit-box-orient:vertical;}
.goods-info .price{color:#E01919;font-size:0.8rem;}
.goods-info a.presell{background-color:#00A53A;}
/*我的*/
.me-block .icon-input{border:0px;border-bottom:1px solid #ccc;}
.me-block .icon-input:last-child{border-bottom:0;}
/*更多*/
.more-block .icon-input{border:0px;border-bottom:1px solid #ccc;}
.more-block .icon-input:last-child{border-bottom:0;}
/**/
.edit-block .icon-input{border:0px;border-bottom:1px solid #ccc;}
.edit-block .icon-input:last-child{border:0;}
.edit-address .
