{{for(var i in it){ }}
	<li id="{{=it[i].truck_type}}">
		<div class="le-img"><a href="javascript:;"><img src="images/car/truck_{{=it[i].truck_type}}.png" alt="" /></a></div>
		<div class="goods-info">
			<div class="price-block">
				<div class="car-name">{{=it[i].name}}</div>
				
			</div>
			<div class="base-price">
					<span class="price"> ￥{{=it[i].discount_base_price}}</span>
					<span>({{=it[i].base_km}}公里,原价{{=it[i].base_price}})</span>
			</div>
			<div>{{=it[i].weight}}吨 {{=it[i].size_note}}</div>
			<div>超过10公里，优惠价{{=it[i].discount_km_per_price}}元/公里，原价{{=it[i].km_per_price}}/公里</div>
		</div>
	</li>
{{ } }}